@model DyBlog.Models.Uye

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Üye Giriş</h2>

    <div class="form-horizontal">
        <hr />
        <form action="/Uye/Login" method="post" class="form-signin">
            <div class="form-group">
                <input type="text" class="form-control" name="kullaniciAdi" placeholder="Kullanıcı adı" required autofocus />
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="sifre" placeholder="Şifre" required />
            </div>

            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Giriş yap</button>
        </form>
     
    </div>
@if (TempData.Count > 0 && !String.IsNullOrEmpty(TempData["Message"].ToString()))
{
    @Html.Raw(TempData["Message"]);
}

