@model IEnumerable<DyBlog.Models.Kategori>

@{
    Layout = null;
}

        @foreach (var item in Model)
        {

            <li class="menu-item">
                <a href="#">@item.KategoriAdi</a>
                <span>
                    @item.Makales.Count()  Makale
                </span>
            </li>

        }
